<div class="container">
  <h1>All recipes</h1>

  <div class="recipes-list">
    <ul>
      <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>


<br><br>
<%= link_to "< Back to homepage", "/" %>
<br>
<%= link_to "< Add a new recipe", new_recipe_path %>


</div>
