<div class="container">
  <h1>TOUTES LES RECETTES</h1>

  <div class="recipes-list">
    <ul>
      <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
  </div>


<br><br>
<%= link_to "< Retour à la page d'accueil", "/" %>
<br>
<%= link_to "+ Ajouter une nouvelle recette", new_recipe_path %>


</div>
